<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MLD_ProjectEntities" connectionString="metadata=res://*/DAL.BaseDonnePressing.csdl|res://*/DAL.BaseDonnePressing.ssdl|res://*/DAL.BaseDonnePressing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=MLD_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BaseDonnePressing" connectionString="metadata=res://*/DAL.base_donne_pressing.csdl|res://*/DAL.base_donne_pressing.ssdl|res://*/DAL.base_donne_pressing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=mld_pressing11;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBpressingEntities" connectionString="metadata=res://*/DAL.BaseDonnePressing.csdl|res://*/DAL.BaseDonnePressing.ssdl|res://*/DAL.BaseDonnePressing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=DBpressing;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MLR2Entities" connectionString="metadata=res://*/DAL.BaseDonneP.csdl|res://*/DAL.BaseDonneP.ssdl|res://*/DAL.BaseDonneP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=MLR2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MLR1Entities" connectionString="metadata=res://*/DAL.Model1.csdl|res://*/DAL.Model1.ssdl|res://*/DAL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=MLR1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MLR1Entities1" connectionString="metadata=res://*/DAL.Model2.csdl|res://*/DAL.Model2.ssdl|res://*/DAL.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=MLR1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MLR1Entities2" connectionString="metadata=res://*/DAL.base.csdl|res://*/DAL.base.ssdl|res://*/DAL.base.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=MLR1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MLR2024Entities" connectionString="metadata=res://*/DAL.Model2024.csdl|res://*/DAL.Model2024.ssdl|res://*/DAL.Model2024.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=MLR2024;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="hicham2024Entities" connectionString="metadata=res://*/DAL.hichammmm.csdl|res://*/DAL.hichammmm.ssdl|res://*/DAL.hichammmm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=hicham2024;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Base222222Entities" connectionString="metadata=res://*/DAL.Base2222222.csdl|res://*/DAL.Base2222222.ssdl|res://*/DAL.Base2222222.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=Base222222;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="mbarkEntities" connectionString="metadata=res://*/DAL.mbark.csdl|res://*/DAL.mbark.ssdl|res://*/DAL.mbark.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_\SQLEXPRESS;initial catalog=mbark;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>